html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  color: $black;
}

main {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  max-height: 1260px;
  // height: 1209px;
  min-height: 75vh;
  padding-top: 60px;
  padding-bottom: 140px;
}

footer {
  position: absolute;
  width: 100%;
}
